<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Edit Event</title>   
    </head>
    <body>
       <nav>
          <a href="{{ url_for('home')}}">Home</a>||
          <a href="{{ url_for('list_events')}}">My Events</a>||
          <a href="{{ url_for('new_event')}}"> Add Event</a>||
          <a href="{{ url_for('logout') }}">Logout</a>

       </nav>

        <h1>Edit Event</h1>
        {% if event %}
            <form action="{{ url_for('edit_event', event_id=event.id) }}" method="post">
        {% else %}
        <form action="new" method="post">
        {% endif %}
            <p><label>Title </label></p>
            <p><input type="text" name="title" value="{% if event %}{{event.title}} {% endif %}"/></p>
            <p><label>Location </label></p>
            <p><input type="text" name="location" value="{% if event %}{{event.location}} {% endif %}"></p> 
            <p><label for="description">Description:</label></p>
            <p><input type="text" name="description" value="{% if event %}{{event.description}} {% endif %}"></p>
            <p><label for="date">Date:</label></p>
            <p><input type="date"  name="date" value="{% if event %}{{event.date}} {% endif %}"></p>
            <p><label for="time">Time:</label></p>
            <p><input type="time" name="time" value="{% if event %}{{event.time}} {% endif %}"></p>
            <p>
                {% if event %}
                    <input type="submit" value="Update Event"/>
                {% else %}
                    <input type="submit" value="Create Event"/>
                {% endif %}
            </p>
        </form>
    </body>
</html>