<!DOCTYPE html>
<html lang="en">
{% extends "/home.html" %}
{% block content %}
<header>
  <h1 class="text-center">Favorite This Event</h1>
</header>
<body>
  <main>
    <div class="container">
        <form action="rate" method="post">
            <div class="star text-center"> 
                <p>Favorite this event?</p> <input type="radio" name="thumbs up" value="1" id="thumbs up1"><label for="star1">&#x2606</label>
            </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary text-center">Submit</button> 
        </div>
    </div>
    <div class="text-center">
        
    </div>

  </form>
  </main>
</body>
</html>
{% endblock %}
