<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<header>

  <h1>
    Welcome {{user}} To The Events Homepage!
  </h1>

  <nav>
  <a href="{{ url_for('register') }}"> Register</a>
  <a href="{{ url_for('login') }}"> Login</a>
  {% if user %}
    <a href="{{ url_for('logout') }}">Logout</a>
  {% endif %}  
  </nav>

<hr/>
</header>


<body>
  <main>
    {% if user %}
        <h1>Menu:</h1>
        <nav>
            <a href="{{ url_for('new_event') }}"> Create New Event</a>
            <a href="/rsvp.html"> RSVP for an Event</a>
            <a href="/rate.html"> Rate an Event</a>
            <a href="/searchEvent.html"> Search for an Event</a>
            <a href="{{ url_for('list_events') }}"> List My Events</a>
        </nav>
    {% endif %}  
  </main>  
</body>
</html>
