<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<header>

  <h1>
    Welcome To The Events Homepage!
  </h1>

  <nav>
  <a href="{{ url_for('register') }}"> Register</a>
  <a href="{{ url_for('login') }}"> Login</a>
  </nav>

<hr/>
</header>

<body>
  <main>
    <h1>Menu:</h1>
    <nav>
      <a href="{{ url_for('create_event') }}"> Create New Event</a><br><br>
      <a href="{{ url_for('edit_event') }}"> Edit an Event</a><br><br>
      <a href="{{ url_for('delete_event') }}"> Delete an Event</a><br><br>
      <a href="{{ url_for('rsvp') }}"> RSVP for an Event</a><br><br>
      <a href="{{ url_for('rate') }}"> Rate an Event</a><br><br>
      <a href="{{ url_for('search_event') }}"> Search for an Event</a><br><br>
      <a href="{{ url_for('view_event') }}"> View an Event</a><br><br>
    </nav>
  </main>  
</body>
</html>