<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<header>

  <h1>
    Welcome To The Events Homepage!
  </h1>

  <nav>
  <a href="/userReg.html"> Register</a>
  <a href="/userLog.html"> Login</a>
  </nav>

<hr/>
</header>


<body>
  <main>
    <h1>Menu:</h1>
    <nav>
      <a href="/newEvent.html"> Create New Event</a>
      <a href="/editEvent.html"> Edit an Event</a>
      <a href="/delete.html"> Delete an Event</a>
      <a href="/rsvp.html"> RSVP for an Event</a>
      <a href="/rate.html"> Rate an Event</a>
      <a href="/searchEvent.html"> Search for an Event</a>
      <a href="/viewEvent.html"> View an Event</a>
    </nav>
  </main>  
</body>
</html>