<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Event App">
    <title>My Events</title>
    <nav>
        <a href="{{ url_for('home') }}"> Return To Home</a>||
        <a href="{{ url_for('list_events')}}">My Events</a>||
        <a href="{{ url_for('new_event')}}"> Add Event</a>||
        <a href="{{ url_for('logout') }}">Logout</a>
    </nav>
</head>

<header>
  <h1>My Events</h1>
  <hr/>
</header>

<body>
  <main>
    <table border = '3'>
      <tr>
        <th>Event ID</th>
        <th>Event Date</th>
        <th>Event Time</th>
        <th>RSVP</th>
        <th>Rating</th>
      </tr>
      {% for event in events %}
      <tr>
        <td><a href="{{ url_for('view_event', event_id=event.id) }}">{{ event.title }}</a></td>
        <td>{{ event.date }}</td>
        <td>{{ event.time }}</td>
        <td>{{ event.rsvp }}</td>
        <td>{{ event.rate }}</td>
        <td><a href="{{ url_for('edit_event', event_id=event.id) }}">Edit</a></td>
        <td><a href="{{ url_for('rate_event', event_id=event.id) }}">Rating</a></td>
            <form action="{{ url_for('delete_event', event_id=event.id) }}" method="post">
                <input type="submit" value="Delete">
            </form>
        </td>
      </tr>
      {% endfor %}            
      </table>
  </main>
</body>
</html>
