<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Event</title>
</head>
<nav>
  <a href="{{ url_for('home') }}"> Return To Home</a>
</nav>

<header>
  <h1>New Event</h1>
  <hr/>
</header>

<body>
  <main>
    <h2>Title:</h2>
      <form><input type="text" value ="Enter Event Title"/></form>
    <h2>Location:</h2>
      <form><input type="text" value ="Enter Event Title"/></form>
    <h2>Description:</h2>
      <form><input type="text" value ="Enter Event Title"/></form>
    <h2>Date:</h2>
      <form><input type="date"/></form>
    <h2>Time:</h2>
      <form><input type="time"/></form>
      
      <input type="submit" value="Create">



  </main>
</body>
</html>