<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Login</title>
</head>

<body>
  <header>
    <nav>
      <a href="{{ url_for('home') }}"> Return To Home</a>
    </nav>
  <h1>User Login</h1>
  <hr/>
  </header>

  <main>
    <form action="userLog" method="post">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username"><br><br>
      <label for="password">Password:</label>
      <input type="text" id="password" name="password"><br><br> 
      <input type="submit" value="Login">
      
      {{ form.submit }}
    </form>
  </main>
  
</body>
</html>