<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Registration</title>
</head>

<body>
  <header>
    
  <nav>
    <a href="{{ url_for('home') }}"> Return To Home</a>
  </nav>  
  
  <h1>User Registration</h1>
  

  <hr/>
  </header>

  <main>
    <form action="userReg" method="post">
      <label for="title">Name:</label>
      <input type="text" id="name" name="name"><br><br>
      <label for="location">Email:</label>
      <input type="email" id="email" name="email"><br><br> 
      <label for="location">Username:</label>
      <input type="text" id="username" name="username"><br><br> 
      <label for="location">Password:</label>
      <input type="text" id="text" name="password"><br><br> 
      <input type="submit" value="Register">

      {{ form.submit }}
    </form>
  </main>
</body>
</html>