<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>New Event</title>
    </head>

    <nav>
        <a href="{{ url_for('home') }}"> Return To Home</a>||
        <a href="{{ url_for('list_events')}}">My Events</a>||
        <a href="{{ url_for('new_event')}}"> Add Event</a>||
        <a href="{{ url_for('logout') }}">Logout</a>
    </nav>

    <body>
        <h1>Event details</h1>

        <table>
            <tr>
                <th>Title</th>
                <th>Location</th>
                <th>Description</th>
                <th>Date</th>
                <th>Time</th>
                <th>RSVP</th>
            </tr>
            <tr>
                <td>{{ event.title }}</td>
                <td>{{ event.location }}</td>
                <td>{{ event.description }}</td>
                <td>{{ event.date }}</td>
                <td>{{ event.time }}</td>
                <td>{{ event.rsvp.value }}</td>
                <td>{{ event.rate.value }}</td>
            </tr>
        </table>
    </body>
</html>
